
<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @message.image %>
  <%= image_tag (@message.image.url) if @message.image.present? %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Delete', message_path(@message), method: :delete %> |
<%= link_to 'Back', messages_path %>
